<%- include('../partials/head.ejs') %>
<title>Player 2 - <%=game.name%></title>
</head>
<body class="no-js">
	<header>
		<%- include('../partials/header.ejs') %>
		<h1><%=game.name%></h1>
	</header>
	<main class="fade-in">
		<section></section>
		<section>
			<!-- screenshots -->
		</section>
	</main>
	<%- include('../partials/tail.ejs') %>
</body>
</html>