<%- include('../partials/head.ejs') %>
<title>Player 2 - Games - <%= user.username %></title>
</head>
<body class="no-js">
	<%- include('../partials/header.ejs') %>
	<main class="fade-in">
		<section>
			<header>
				<h2>All Games</h2>
				<button type="button" name="button" id="edit-button">Edit</button>
			</header>
			<a href="/games/q?" id="link-add-game">
				<article class="card-add-game">
					<h3>Add Game</h3>
					<div class="card-add-game-outline"></div>
					<div class="card-add-game-icon icon-plus"></div>
				</article>
			</a>
			<% if(games) { %>
				<% for (var index = 0; index <games.length; index++) { %>
				<%- include('./partials/game.ejs') %>
				<% } %>
			<% } else { %>
				<article class="card-game" id="no-games">
					<h3>No games yet</h3>
				</article>
			<% } %>
			</section>
	</main>
	<%- include('../partials/tail.ejs') %>
	<!-- <script src="/static/scripts/gamelibrary.js"></script> -->
</body>
</html>
